@model IEnumerable<VwUsers>
@{
    ViewData["Title"] = "Roles";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Users</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-Action="Index"></a>Home</li>
                        <li class="breadcrumb-item active">Manage NomNom Bites</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Users Management</h3>
                            <div class="card-tools">
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>Creation Date</th>
                                        <th>Role</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Any())
                                    {
                                        @foreach (var user in Model)
                                        {
                                            <tr>
                                                <td>@user.Name</td>
                                                <td>@user.Email</td>
                                                <td>@user.Address</td>
                                                <td>@user.City</td>
                                                <td>@user.CreationDate.ToString("yyyy-MM-dd")</td>
                                                <td>
                                                    @switch (user.Role)
                                                    {
                                                        case "Admin":
                                                            <span class="badge badge-info d-flex align-items-center justify-content-center text-white" style="width:130px; height:30px; font-size: 13px;">@user.Role</span>
                                                            break;
                                                        case "Customer":
                                                            <span class="badge badge-success d-flex align-items-center justify-content-center text-white" style="width:130px; height:30px; font-size: 13px;">@user.Role</span>
                                                            break;
                                                        default:
                                                            <span class="badge badge-primary d-flex align-items-center justify-content-center text-white" style="width:130px; height:30px; font-size: 13px;">@user.Role</span>
                                                            break;
                                                    }
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-info btn-sm rounded-pill" onclick="Edit('@user.UserId', '@user.Name')" value="Edit" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </button>
                                                    &nbsp;
                                                    <button type="button" class="btn btn-danger btn-sm rounded-pill" onclick="Delete('@user.UserId')" value="Delete">
                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">
                                                <div class="bg-warning-subtle p-2 rounded-square rounded-3 my-2" role="alert">
                                                    <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
                                                    <span> No users available</span>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- DataTables  & Plugins -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/Admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>

<!-- Toastr script -->
<script src="~/lib/toastr.js/toastr.min.js"></script>

<!-- Datatable Module -->
<script src="~/modules/datatablemodule.js"></script>

<!-- Users Module -->
<script src="~/modules/usersmodule.js"></script>
